@{
    ViewData["Title"] = "Salles Web MVC App from C# Course";
}



<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


<h3>Estudante @ViewData["Estudent"]</h3>

<address>
    <strong> More information: </strong> <a href="https://www.google.com/">Google.com </a>



</address>